.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75vw;
  max-width: 750px;
  padding: 50px 30px 50px 20px;
  border-radius: 24px;
}

.card1 {
  display: flex;
  text-align: center;
  width: 100vw;
  max-width: 900px;
  padding: 50px 30px 50px 20px;
  background: #121017;
  border-radius: 24px;
  margin-top: 50px;
}

.card1 img {
  max-width: 280px;
  width: 35vw;
  height: 300px;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  border-radius: 20px;
}

.card1 h2 {
  font-size: 26px;
  font-weight: 400;
  margin-top: 0;
  margin-right: 30px;
  margin-bottom: 10px;
}

.card1 p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 30px;
  opacity: 0.5;
}

.card2 {
  display: flex;
  text-align: center;
  width: 100vw;
  max-width: 900px;
  padding: 50px 30px 50px 20px;
  background: #121017;
  border-radius: 24px;
  margin-top: 50px;
}

.card2 img {
  max-width: 280px;
  width: 35vw;
  height: 300px;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  border-radius: 20px;
}

.card2 h2 {
  font-size: 26px;
  font-weight: 400;
  margin-top: 0;
  margin-right: 30px;
  margin-bottom: 10px;
}

.card2 p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 30px;
  opacity: 0.5;
}

.card3 {
  display: flex;
  text-align: center;
  width: 100vw;
  max-width: 900px;
  padding: 50px 30px 50px 20px;
  background: #121017;
  border-radius: 24px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.card3 img {
  max-width: 280px;
  width: 35vw;
  height: 300px;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  border-radius: 20px;
}

.card3 h2 {
  font-size: 26px;
  font-weight: 400;
  margin-top: 0;
  margin-right: 30px;
  margin-bottom: 10px;
}

.card3 p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 30px;
  opacity: 0.5;
}
