table {
  display: flex;
  max-width: 100%;
  width: 400px;
  border-collapse: collapse;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

/* Estilização para as células */
th,
td {
  padding: 12px;
  text-align: center; /* Ajustado para alinhar o texto à esquerda */
  border-bottom: 1px solid #ddd;
}

/* Estilo do cabeçalho */
th {
  background-color: #f2f2f2;
  color: #333;
}

/* Estilo das células de dados */
td {
  background-color: #fff;
  color: #666;
}
